/* sets 20px of padding to all four sides of the header, adds a font, sets background color and color of text */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background color to off-white */
body {
    background-color: #d9dcd6;
}

/* sets all elements to adhere to their specified width and height, including borders and padding */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets font-size for h1 elements, and displays them horizontally */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets content to a different color */
mark {
    color: #d9dcd6;
    background-color: #2a607c;
}

/* adds padding to the top of the nav element
margin 20px on the right
sets all nav links stay in the top right corner of the page
adds font and font-size */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* unmarked list */
ul {
    list-style-type: none;
}

/* displays list items horizontally */
li {
    display: inline-block;
    margin-left: 25px;
}

/* removes underline from links in the nav bar */
a {
    text-decoration: none;
    color: #ffffff;
}

/* sets font size for all paragraph elements */
p {
    font-size: 16px;
}

/* adds figure element as a background image
sets height and weight, adds a margin to the bottom
scales the image as large as possible without stretching it
centers the image after resizing */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;

}

/* elements with this class will have 25px margin on the right, and will float left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* elements with this class will have 25px margin on the left and will float left */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets the width of the main element
adds a 20px margin on the left
sets the text to wrap around the floating images  */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* adds the following to the article element:
bottom margin of 20px
50px padding on all sides
specifies the max height, including borders and padding
sets the background color
adds a font family
sets the text color */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* provides max height for all images in article elements */
article img {
    max-height: 200px;
}

/* sets font size and adds a 20px margin to the bottom of all h2 elements */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets the following for the aside element:
20px margin on the right
20px padding on all sides
allows both sides of the element to remain separate from previous floating elements
sets the height and width of the content, including padding and margins
adds font, background color, and text color */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* adds 32px margin to the bottom of each section element */
section {
    margin-bottom: 32px;
}

/* adds line break before and after each image in the section element
sets a specific margin to the top of the element, but excludes the bottom of the element from having a set margin
sets the max-width for the images, including padding and borders */
section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* adds 10px bottom margin to h3 element, and aligns text in the center */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* adds 30px padding to all sides of the footer element
allows both sides to remain separate from other elements
adds a font
centers the text */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets font for text within the h2 element and sets the bottom margin to 0 */
footer h2 {
    font-size: 20px;
    margin-bottom: 0;
}